<div class="row">
	<div class="col-md-5 col-md-offset-1">
		<%= form_for(@collection,html:{role:"form", class:"form-horizontal"}) do |f| %>
		  <% if @collection.errors.any? %>
		    <div id="error_explanation">
		      <h2><%= pluralize(@collection.errors.count, "error") %> prohibited this collection from being saved:</h2>
		
		      <ul>
		      <% @collection.errors.full_messages.each do |msg| %>
		        <li><%= msg %></li>
		      <% end %>
		      </ul>
		    </div>
		  <% end %>
		
		  <div class="form-group">
		    <%= f.label :name %><br>
		    <%= f.text_field :name, class: "form-control" %>
		  </div>
		  
		  <h3 class="top-buffer-big">Manage Gallery Order</h3>
		  <p>
		  	Drag and drop the gallery names into the preferred order.<br>
		  	Be sure to press the "submit" button when you're done.
		  </p>
		  <div class="form-group">
			<ul id="sort_gallery" class="list-group sortable">
	  			<% @collection.galleries.collection_order.each do |gallery|%>
		  			<li class="list-group-item  handle">
			  			<%= f.fields_for :galleries, gallery do |galleries_form|%>	
			  				<%= gallery.name%>
			  				<%= galleries_form.hidden_field :order_in_collection, data: {content: "sort_order_field"}%>
			  			<%end%>
		  			</li>
	  			<%end%>
	  		</ul>
		  	
		  	
		  	
		  </div>
		  
		  <div class="form-group top-buffer-big">
		   <button type="submit" class="btn btn-default">Submit</button>
		  </div>
		<% end %>

		
		
		
		
		
	</div>
</div>




