<div class="row">
	<div class="col-md-5">
		<%= form_tag update_display_order_collections_path,  method: :put  do %>
			<% @collections.each do |collection| %>
			
			
			
			
			<%end%>
			
			<ul class="list-group sortable">
	  			<% @collections.each do |collection| %>
		  			<li class="list-group-item  handle">
			  			<%= collection.name %>
			  			
			  			<%= fields_for "collections[]", collection do |collection_form| %>
							<%= collection_form.hidden_field :id %>
							<%= collection_form.hidden_field :display_order, data:{content: "sort_order_field"} %>
						<%end%>
		  			</li>
	  			<%end%>
	  		</ul>  	
			
			<button type="submit" class="btn btn-default">Submit</button>
		<%end%>
	</div>
</div>
