<div class="row">
	<div class="col-md-12">
		<div class="top-buffer">
			<div class="well well-sm well-transparent text-center">
				<span class="lead classy-text punched-text">
						<%= @collection.name.singularize%> Galleries
				</span>		
			</div>	
			
		</div>
		
	</div>
</div>

<% @collection.galleries.collection_order.each do |gallery| %>
	<div class="row top-buffer-big">
		<div class="col-md-10">
			<span class="lead classy-text punched-text">
				<%= gallery.name%>
			</span>
			- 
			<%= link_to gallery, { class: "text-info"} do %>
				 <% if gallery.photos.count > 6 %>
				 	see all <%= gallery.photos.count %> photos in gallery
				 <%else%>
				 	go to gallery
				 <%end%>
			<%end%>
		</div>
	</div>
	
	<% gallery.photos.use_gallery_order.limit(6).in_groups_of(3, false).each do |photo_group|%>
	<div class="row"  data-content="thumbnail-row">
		<% photo_group.each do |photo|%>
			<div class="col-md-4 top-buffer">
				<%= link_to photo,{title: photo.name} do %>
					<%= image_tag photo.photo_file.url(:medium), class: "img-rounded photo-border"%> 
				<%end%>
			</div>		
		<%end%>
	</div>
	<%end%>
<%end%>
