<div class="row top-buffer-big">
	<div class="col-md-10 col-md-offset-1">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3> Thank you, your order is complete!</h3>
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-md-10 col-md-offset-1 well">
					
						<div class="row">
							<div class="col-md-5">
								<p>
									 A confirmation email has been sent to  <%= @customer_order.email%><br />
									 Please review your order details below.
								</p>
								
								<p>
									<strong class="text-white">Contact:</strong>
								</p>
								<p class="horz-padding">
									<strong>
										<%= @customer_order.first_name %> <%= @customer_order.last_name %>	
									</strong>
									<br />
									
									<%= number_to_phone @customer_order.phone_number %>
								</p> 							
							</div>
							<div class="col-md-5">
								<p>
									<strong class="text-white">Shipping to:</strong>
								</p>
								
								<p class="horz-padding">
									<strong>
										<%= @customer_order.ship_to_first_name %> <%= @customer_order.ship_to_last_name %><br />
									</strong>
									<%= @customer_order.address_line_1%> <br />
									<%= @customer_order.address_line_2%> <%= "<br/>".html_safe if @customer_order.address_line_2.present? %>
									<%= @customer_order.city%>, <%= @customer_order.zip_code%> <%= @customer_order.state%> <br />
								</p>
								
								<% if @customer_order.comments.present? %>
									<p>
										<strong class="text-white">Additional Comments:</strong>
									</p>
									<p class="horz-padding">
										<%= @customer_order.comments %>
									</p>
								<%end%>
							</div>
						</div>
											
						
					</div>
				</div>
				
				
				<div class="row">
					<div class="col-md-12">
						<h4 class="text-white">
							Order details: 
						</h4>
						<table class="table table-condensed">
							<thead>
								<th>Photo</th>
								<th>Print Type</th>
								<th>Quantity</th>
								<th>Price</th>
							</thead>
							<tbody>
								<% @customer_order.customer_order_items.each do |customer_order_item| %>
									
									<tr>
										<td>
											<%= image_tag Photo.where(name: customer_order_item.photo_name).take.photo_file.url(:thumb), class"img-rounded"%>
											<br />
											<%= customer_order_item.photo_name %>
										</td>
										<td>
											<%= customer_order_item.print_name %>
										</td>
										<td>
											<%= customer_order_item.quantity %>
										</td>
										<td>
											<%= number_to_currency customer_order_item.print_cost %>
										</td>
									</tr>
								<%end%>
							</tbody>
						</table>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3 col-md-offset-9">
						<table class="table table-condensed">
							<tr>
								<td>Sub-total</td>
								<td><%= number_to_currency @customer_order.subtotal%></td>
							</tr>
							<tr>
								<td>Shipping</td>
								<td>Free</td>
							</tr>
							<tr>
								<td><strong>Total</strong></td>
								<td><strong><%= number_to_currency @customer_order.total%></strong>
									</td>
							</tr>
						</table>
					</div>
				</div>
				
				
				
			</div>
		</div>
	</div>
</div>
