<div class="row">
	<div class="col-md-12">
		<h3>Customer Orders</h3>
	</div>
	<div class="col-md-12 top-buffer-big">
		<table class="table table-condensed">
		  <thead>
		    <tr>
		      <th>Placed on</th>
		      <th>Customer</th>
		      <th>Order Total</th>
		      
		      <th></th>

		      <th></th>
		    </tr>
		  </thead>
		
		  <tbody>
		    <% @customer_orders.each do |customer_order| %>
		      <tr>
		        <td><%= customer_order.created_at.strftime("%m/%d/%Y, %l:%M %p") %></td>
		        <td>
		        	<%= customer_order.first_name %>
		        	<%= customer_order.last_name %>
		        </td>
		        <td>
		        	<%= number_to_currency customer_order.shopping_cart_total %>
		        </td>
		        
		        <td><%= link_to 'Show', customer_order %></td>
		
		        <td><%= link_to 'Delete', customer_order, method: :delete, data: { confirm: "Don't delete this unless you really mean it. Are you sure?" } %></td>
		      </tr>
		    <% end %>
		  </tbody>
		</table>

	</div>
</div>


