<p id="notice"><%= notice %></p>

<%= link_to 'All Orders', customer_orders_path %>

<div class="row top-buffer-big">
	<div class="col-md-10 col-md-offset-1">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h4>Order:
					<%= @customer_order.created_at.strftime("%m/%d/%Y, %l:%M %p") %>
				</h4>
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-md-10 col-md-offset-1 well">
					
						<div class="row">
							<div class="col-md-5">
								<p>
									<strong class="text-white">Contact:</strong>
								</p>
								
								<p class="horz-padding">
									<strong>
										<%= @customer_order.first_name %> <%= @customer_order.last_name %>	
									</strong>
									<br />
									<%= @customer_order.email%> <br /> 
									<%= number_to_phone @customer_order.phone_number %>
								</p>						
							</div>
							<div class="col-md-5">
								<p>
									<strong class="text-white">Shipping to:</strong>
								</p>
								
								<p class="horz-padding">
									<strong>
										<%= @customer_order.ship_to_first_name %> <%= @customer_order.ship_to_last_name %><br />
									</strong>
									<%= @customer_order.address_line_1%> <br />
									<%= @customer_order.address_line_2%> <%= "<br/>".html_safe if @customer_order.address_line_2.present? %>
									<%= @customer_order.city%>, <%= @customer_order.zip_code%> <%= @customer_order.state%> <br />
								</p>
								
								<% if @customer_order.comments.present? %>
									<p>
										<strong class="text-white">Additional Comments:</strong>
									</p>
									<p class="horz-padding">
										<%= @customer_order.comments %>
									</p>
								<%end%>
								
								<p>
									Estimated shipping 3 -7 business days.
								</p>
							</div>
						</div>
											
						
					</div>
				</div>
				
				
				<div class="row">
					<div class="col-md-4">
						<h4 class="text-white">
							Order details: 
						</h4>
						<div class="top-buffer-big">
							<table class="table table-condensed">
								<% if @customer_order.discount_code.present? %>
									<tr>
										<td>
											Discount Code <%= @customer_order.discount_code %>
											was used for a <%= @customer_order.discount_percentage %>%
											discount.
										</td>
									</tr>
								<%end%>
								</tr>
								<tr>
									<td>Subtotal:</td>
									<td><%= number_to_currency @customer_order.subtotal %></td>
								</tr>
								<tr>
									<td>Shipping:</td>
									<td><%= number_to_currency @customer_order.shipping %></td>
								</tr>
								<tr>
									<td>Total:</td>
									<td><%= number_to_currency @customer_order.total %></td>
								</tr>
							</table>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">		
						<table class="table table-condensed top-buffer-big">
							<thead>
								<th>Photo</th>
								<th>Print Type</th>
								<th>Quantity</th>
								<th>Unit Price</th>
							</thead>
							<tbody>
								<% @customer_order.customer_order_items.each do |customer_order_item| %>
									<tr>
										<td>
											<%= image_tag customer_order_item.photo.photo_file.url(:thumb) if customer_order_item.photo.present? %>
											<%= customer_order_item.photo_name %>
										</td>
										<td>
											<%= customer_order_item.print_name %>
										</td>
										<td>
											<%= customer_order_item.quantity %>
										</td>
										<td>
											<%= number_to_currency customer_order_item.print_cost %>
										</td>
									</tr>
								<%end%>
							</tbody>
						</table>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3 col-md-offset-9">
						
					</div>
				</div>
				
				
				
			</div>
		</div>
	</div>
</div>


