

<div class="row">
	<div class="col-md-12 top-buffer-big">
		<strong>Prints and pricing:</strong>
	</div>  	
	<div class=" col-md-12 col-md-offset-0">
		<%= raw @additional_content.prints_and_pricing %>
	</div>
	
	<div class="col-md-12 top-buffer-big">
		<strong>Philosophy:</strong>
	</div>  	
	<div class=" col-md-12 col-md-offset-0">
		<%= raw @additional_content.philosophy %>
	</div>
	
	<div class="col-md-12 top-buffer-big">
		<strong>Travel Quotes:</strong>
	</div>  	
	<div class=" col-md-12 col-md-offset-0">
		<%= raw @additional_content.travel_quote %>
	</div>
	
	<div class="col-md-12 top-buffer-big">
		<strong>Contact:</strong>
	</div>  	
	<div class=" col-md-12 col-md-offset-0">
		<%= raw @additional_content.contact %>
	</div>
	
	
	
</div>




<%= link_to 'Edit', edit_additional_content_path(@additional_content) %> 

