<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">

		<!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
		Remove this if you use the .htaccess -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

		<title>new_file</title>
		<meta name="description" content="">
		<meta name="author" content="james">

		
	</head>

	<body bgcolor="#F0F0F0">
		<table style="width: 600px;margin-left: 50px; margin-top: 20px;">
			<tbody>
				<tr>
					<td>
						This was sent to jamesmholst@yahoo.com, troutsnifferx@yahoo.com
						for testing purposes
					</td>
				</tr>
				<tr>
					<td>
						mgabriel@umich.edu is the email captured from the order form.
					</td>
				</tr>
			</tbody>
			
		</table>
		<table style="width: 600px;margin-left: 30px; margin-top: 20px;">
			<tbody>
				<tr>
					<td>
						Hello <%= @customer_order.first_name %>,
					</td>
				</tr>
			</tbody>
		</table>
		<table style="width: 600px;margin-left: 50px; margin-top: 5px;">
			<tbody>
				<tr>
					<td> 
						Thank you for your purchase from
						<a href="http://beyondtheprecipice.com" style="color: #333333">
							BeyondThePrecipice.com
						</a>. 
						Please review your order details and don't hesitate 
						to reply if you have any questions or concerns.
					</td>
				</tr>
			</tbody>
		</table>
		<table style="width: 600px;margin-left: 50px; margin-top: 20px;">
			<thead style="color: #666666">
				<th align="left">Photo</th>
				<th align="left">Print Type</th>
				<th align="left">Quantity</th>
				<th align="left"><a></a> </th>
				<th align="left">Unit Price</th>
			</thead>
			<tbody>	
				
				<% @customer_order.customer_order_items.each do |customer_order_item| %>
					<tr>
						<td>
							
							<%= image_tag attachments['logo.png'].url, 
										  alt: '#{customer_order_item.photo_name}'%>
							
							
							
							<br />
							<%= link_to customer_order_item.photo_name, 
									    photo_url(
									    	Photo.find_by_name(customer_order_item.photo_name),
									    	host: "beyondtheprecipice.herokuapp.com",
											port: nil,
											protocol: "http"),
							style: "color: #333333"%>
						</td>
						<td>
							<%= customer_order_item.print_name %>
						</td>
						<td>
							<%= customer_order_item.quantity %>
						</td>
						<td></td>
						<td>
							<%= number_to_currency customer_order_item.print_cost %>
						</td>
					</tr>
				<%end%>
	
				<tr>
					<td> <a></a> </td>
					<td> <a></a></td>
					<td> <a></a></td>
					<td align="right" style="border-top: 1px solid #CCC; padding-right: 15px">
						Sub-total:
					</td>
					<td style="border-top: 1px solid #CCC">
						<%= number_to_currency @customer_order.subtotal%>
					</td>
				</tr>
				<tr>
					<td> <a></a></td>
					<td> <a></a></td>
					<td> <a></a></td>
					<td align="right" style="padding-right: 15px">
						Shipping:
					</td>
					<td>
						<span style="color: #666666;">Free</span>
					</td>
				</tr>
				<tr>
					<td> <a></a></td>
					<td> <a></a></td>
					<td> <a></a></td>
					<td align="right" style="padding-right: 15px">
						<strong style="color: #666666">Total:</strong>
					</td>
					<td>
						<strong style="color: #666666">
							<%= number_to_currency @customer_order.total%>
						</strong>
					</td>
				</tr>
			</tbody>
		</table>
		
		
		
		<table style="width: 600px;margin-left: 50px; margin-top: 20px;">
			<tbody>
				<tr>
					<td>
						<strong style="color: #666666">
							Shipping:	
						</strong>	
					</td>
				</tr>
			</tbody>
		</table>
		<table style="width: 600px;margin-left: 65px; ">
			<tbody>
				<tr>
					<td>
						<%= @customer_order.ship_to_first_name %> <%= @customer_order.ship_to_last_name %>
					</td>
				</tr>
				<tr>
					<td>
						<%= @customer_order.address_line_1%>
					</td>
				</tr>
				<tr>
					<td>
						<%= @customer_order.address_line_2%>
					</td>
				</tr>
				<tr>
					<td>
						<%= @customer_order.city%>, <%= @customer_order.zip_code%> <%= @customer_order.state%>
					</td>
				</tr>
			</tbody>
		</table>
		
		<% if @customer_order.comments.present? %>
			<table style="width: 600px;margin-left: 50px; margin-top: 20px;">
				<tbody>
					<tr>
						<td>
							<strong style="color: #666666">
								Additional Comments:	
							</strong>
						</td>
					</tr>
				</tbody>
			</table>
			<table style="width: 600px;margin-left: 65px; margin-top: 0px;">
				<tbody>
					<tr>
						<td>
							<%= @customer_order.comments %>
						</td>
					</tr>
				</tbody>
			</table>
		<%end%>
		<table style="width: 600px;margin-left: 50px; margin-top: 20px;">
			<tbody>
				<tr>
					<td>
						Sincerely, 
					</td>
				</tr>
				<tr>
					<td>
						Michael
					</td>
				</tr>
			</tbody>
		</table>
	</body>
</html>				