
<div class="row top-buffer">
	<div class="col-md-5">
		<div class="">
			<p>
				<strong>
					<%= @photo.gallery.name_with_collection %>	
				</strong>
			</p>
		</div>
	</div>
	
	<div class="col-md-5">
		<ul class="pager">
		  <li class="">
		  	<% unless @photo.gallery_order == 1 %>
		  		<%= link_to "&laquo; Previous ".html_safe, @photo.previous_photo if @photo.previous_photo%>
		  	
		  	<%end%>
		  </li>
		  <li class="">
		  	<%= link_to "Next &raquo;".html_safe, @photo.next_photo if @photo.next_photo%>
		  	
		  </li>
		</ul>		
	</div>
</div>


<div class="row">
	<div class="col-md-10">		
		<%= image_tag @photo.photo_file.url(:large), class: "photo-border", height:"500" %>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<h4><strong><%= @photo.name %></strong></h4>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<p><%= @photo.description %></p>
	</div>
</div>


<div class="row">
	<div class="col-md-2">
		
		<form role="form" target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
			<div class="form-group">
			<input type="hidden" name="cmd" value="_s-xclick">
			<input type="hidden" name="hosted_button_id" value="2PJ68NZB45W88">
			<input type="hidden" name="on0" value="Print Sizes">
			<label name="os0"> Order Prints:</label>
			
			
			<select name="os0" class="form-control">
				<option value="4x6">4x6 $5.00 USD</option>
				<option value="8x10">8x10 $10.00 USD</option>
				<option value="18x24">18x24 $25.00 USD</option>
			</select>
			<input type="hidden" name="currency_code" value="USD">
			</div>
			<button type="submit" class="btn btn-default">	Add to cart</button>
		</form>


		
		
	</div>
</div>

