<div class="row">
	<div class="col-md-10 top-buffer">
		
		<ol class="breadcrumb">
		  <li><%= link_to @photo.gallery.collection.name, @photo.gallery.collection  %></li>
		  <li><%= link_to @photo.gallery.name, @photo.gallery %></li>
		  <li class="active"><%= @photo.name%></li>
		</ol>
		
	</div>
</div>


<div class="row top-buffer">
	<div class="col-md-2">
			<% @photo.gallery.photos.use_gallery_order.each do |photo|%>
				<span class="  <%= "hidden" unless photo == @photo %>">
					<%= link_to photo.photo_file.url(:large), {class: "text-info", title: photo.name, data:{gallery: ""} } do %>	
						<span>gallery slideshow</span>
					<%end%>			
				</span>
			<%end%>
	</div>
	
	<div class="col-md-5">
		<ul class="pager without-margin">
			
			<li class="<%= "disabled"  if @photo.gallery_order == 1 %>">  		
	  			<%= link_to "&laquo; Previous ".html_safe, @photo.previous_photo  %>
	  				
	  		</li>
			
			<li class="horz-padding">
		  		<%= @photo.gallery_order %> of <%= @photo.gallery.photos.count %>
			</li>
			
			<li class="<%= "disabled"  if @photo.gallery_order == @photo.gallery.photos.count %>">  
				<%= link_to "Next &raquo;".html_safe, @photo.next_photo %>
			</li>
		</ul>	
		
		
	</div>
</div>


<div class="row top-buffer">
	<div class="col-md-10">		
		<%= image_tag @photo.photo_file.url(:large), class: "photo-border ", height:"500" %>
	</div>
</div>

<div class="row">
	<div class="col-md-5 top-buffer">
		
		<h4><strong><%= @photo.name %></strong></h4>
		<p><%= @photo.description %></p>
		
	</div>
</div>


<div class="row top-buffer">
	<div class="col-md-5">
		<div class="well">
		<form role="form" target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
			<div class="form-group">
				<input type="hidden" name="cmd" value="_s-xclick">
				<input type="hidden" name="hosted_button_id" value="<%= @photo.paypal_identifier%>">
				<input type="hidden" name="on0" value="Print Sizes">
				<label name="os0"> Order Prints:</label>
				
			
				<select name="os0" class="form-control">
					<%@photo.print_options.each do |print_option|%>
						<option value="<%= print_option.name%>">
							<%= "#{print_option.name} - #{number_to_currency(print_option.price)} "%> 
						</option>
					<%end%>
				</select>
			<input type="hidden" name="currency_code" value="USD">
			</div>
			<button type="submit" class="btn btn-default">	Add to cart</button>
		</form>
		</div>
	</div>
</div>





<%= render 'layouts/blueimp_gallery_container'%>

