<div class="container">
	<div class="row clearfix">
		<div class="col-md-5  column">
			<%= form_for(@gallery) do |f| %>
			  <% if @gallery.errors.any? %>
			    <div id="error_explanation">
			      <h2><%= pluralize(@gallery.errors.count, "error") %> prohibited this gallery from being saved:</h2>
			
			      <ul>
			      <% @gallery.errors.full_messages.each do |msg| %>
			        <li><%= msg %></li>
			      <% end %>
			      </ul>
			    </div>
			  <% end %>
			
			  <div class="form-group">
			    <%= f.label :name %>
			    <%= f.text_field :name, :class => 'form-control' %>
			  </div>
			  
			  <div class="form-group">
			    <%= f.label :description %>
			    <%= f.text_area :description, :class => 'form-control' %>
			  </div>
			  <div class="form-group">
			    <%= f.label :collection_id, "Belongs to Collection" %>
			    <%= f.collection_select :collection_id, Collection.all, :id, :name,{},:class => 'form-control' %>
			  </div>
			   
			  <div class="form-group">
			   	<button type="submit" class="btn btn-default">Submit</button>
			  </div>
			<% end %>
		</div>
	</div>
</div>
