<h1>Listing galleries</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Belongs to Collection</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @galleries.each do |gallery| %>
      <tr>
        <td><%= link_to gallery.name, gallery %></td>
        <td><%= gallery.collection.name %></td>
        <td></td>
        <td><%= link_to 'Edit', edit_gallery_path(gallery) %></td>
        <td><%= link_to 'Destroy', gallery, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Gallery', new_gallery_path %>
