<div class="row">
	<div class="col-md-10 top-buffer">
		
		<ol class="breadcrumb">
		
		  <li><%= link_to @gallery.collection.name, @gallery.collection  %></li>
		  <li class="active"><%= @gallery.name%></li>
		  <li>
		  	<% @gallery.photos.use_gallery_order.each do |photo|%>
					<span class="  <%= "hidden" unless photo.gallery_order == 1 %>">
						<%= link_to photo.photo_file.url(:large), {class:"text-info", title: photo.name, data:{gallery: ""} } do %>	
							<span class="horz-padding">gallery slideshow</span>
						<%end%>			
					</span>
				<%end%>
		  </li>
		</ol>
		
		<div class="well well-lg well-transparent">
			<span class="lead classy-text punched-text ">
				<%= @gallery.name%>
			</span>
			<p>
				<%= @gallery.description%>
			</p>
			<p>
				
			</p>	
				
		</div>
	</div>
</div>

	
	
	
	
	<% @gallery.photos.use_gallery_order.in_groups_of(3,false).each do |photo_group|%>
	<div class="row" data-content="thumbnail-row">
		<%photo_group.each do |photo|%>
			<div class="col-md-4 top-buffer ">				
				<%= link_to photo,{title: photo.name} do %>
					<%= image_tag photo.photo_file.url(:medium), class: "photo-border"%> 
				<%end%>
				<div class="horz-padding">
					<strong><%= photo.name%></strong>
					</br>
					<%= photo.description%>
				</div>
			</div>		
		<%end%>
	</div>
	<%end%>
<%= render 'shared/blueimp_gallery_container'%>

