<div class="row">
	<div class="col-md-4">
		<button type="button" class="btn btn-default" data-toggle="collapse" data-target="#new_upload_form">
		 Upload New Photo to Gallery
		</button>

	</div>
</div>

<div class="row collapse " id="new_upload_form">
	<div class="panel panel-default col-md-4 top-buffer">
		<div class="panel-body">
	  		<%= form_for(@gallery) do |f| %>
				<% if @gallery.errors.any? %>
				    <div id="error_explanation">
				      <h2><%= pluralize(@gallery.errors.count, "error") %> prohibited this gallery from being saved:</h2>
				      <ul>
				      <% @gallery.errors.full_messages.each do |msg| %>
				        <li><%= msg %></li>
				      <% end %>
				      </ul>
				    </div>
				<% end %>
				<div class="form-group">
				   	<%= f.fields_for :photos,@new_photo do |photo_form|%>
				   		<div class="form-group">
							 
							 <%= photo_form.file_field :photo_file %>
						</div>
				   		<div class="form-group">
							<%= photo_form.label :name %>
							<%= photo_form.text_field :name, :class => 'form-control' %>		 
						</div>
						<div class="form-group">
							<%= photo_form.label :description %>
		    				<%= photo_form.text_area :description, :class => 'form-control' %>
						</div>
						<div class="form-group">
						    <%= photo_form.label :paypal_identifier %>
						    <%= photo_form.text_field :paypal_identifier, :class => 'form-control' %>
						</div>
						
						<button type="submit" class="btn btn-default">Upload Photo</button>
				   	<%end%>
				</div>
			<% end %>
		</div>
	</div>
</div>