<div id="navigation_menu">
	<%= link_to root_url, class:"" do%>	
	<%= image_tag "logo.png", width: "200", class:"img-circle"%>
	<%end%>
	
	<div class="">
		<h2>
			
		</h2>
		<p>
			
		</p>
			
				
		<% Collection.all.each do |collection|%>
			<p>
				<strong>
					<%= link_to collection.name, collection, class:"" %>
				</strong>
			</p>	
		<%end%>
		<p>
			<%= link_to 'Bio', page_path('bio')%>
		</p>
		<p>
			<%= link_to 'Contact', page_path('contact')%>
		</p>
		<p>
			<%= link_to 'Prints and Pricing', page_path('prints_and_pricing')%>
		</p>
	</div>
</div>