<!-- Sidebar -->
      <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
	    	<li class="sidebar-brand">
	          	<%= link_to root_url, class:"" do%>	
					<%= image_tag "logo.png", width: "220"%>
				<%end%>
         	</li>
	         
	         <% Collection.all.each do |collection|%>
				<li>	
					<%= link_to collection.name,  collection %>
				</li>	
			<%end%>	
			
			<li>
				<%= link_to "Prints and Pricing",  page_path('prints_and_pricing')%>
			</li>			  
        	<li>
				<div class="text-info free-shipping">
					<div class="horz-padding">Free ground shipping</div>
					<div class="horz-padding">on all fine art.</div>
		        </div>
			</li>
        	
        	
        	<li class="top-buffer-big">
				<%= link_to "Philosophy", page_path('philosophy')%>
			</li>
			<li>
				<%= link_to "Travel Quotes", page_path('travel_quotes') %>
			</li>
			<li>
				<%= link_to "Contact", page_path('contact') %>
			</li>
			
			
        </ul>    
      </div>