<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "On The Precipice" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "On The Precipice" %>">
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'camera-favicon.ico' %>
    
  </head>
  <body>	
  	<% unless controller_name == "welcome"%>
	  	<div id="top_image">
	  		<%= image_tag "sand.jpg"%>
	  	</div>
	  	<div style="height: 0px">
	  		
	  	</div>
  	<%end%>
	
	<div class="container clearfix">
		<div class="row">
			<div class="col-md-2">
			<%= render 'layouts/navigation_menu'%>
			</div>
			
			<div class="col-md-10" id="g-body">
				<%= render 'layouts/messages' %>
	       		<%= yield %>
			</div>
		</div>
	</div>
	
	
	
	<div id="spinner" style="display: none">
		<%=  image_tag("loading.gif", :alt => "Loading....", :style => "")%>
	</div>
  </body>
</html>
