<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Beyond The Precipice" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Beyond The Precipice" %>">
    
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
   	
    
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'camera-favicon.ico' %>
    <%= tag :meta, :name => "stripe-key", :content => Rails.configuration.stripe[:publishable_key] %>
    
  </head>
  <body data-controller="<%= controller_name %>" data-action="<%= action_name %>" data-static-page="<%= static_page_name %>">	
  	
  	<% unless (params[:id] == "home" and controller_name == "pages")%>
	  	<div id="top_image">
	  		<%= image_tag "portrait_background.jpg"%>
	  	</div>
	  	<div style="height: 0px">
	  		
	  	</div>
  	<%end%>
  	
  	 <div id="wrapper">
      
      <!-- Sidebar -->
      <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
          <li class="sidebar-brand">
          	<%= link_to root_url, class:"" do%>	
				<%= image_tag "logo2.png", class:""%>
			<%end%>
          </li>
          <% Collection.all.each do |collection|%>
			<li>
				
					<%= link_to collection.name, collection, class:"" %>
				
			</li>	
		<%end%>
			<li class="top-buffer-big">
				<%= link_to 'About Me', page_path('aboutme')%>
			</li>
			<li>
				<%= link_to 'Contact', page_path('contact')%>
			</li>
			<li>
				<%= link_to 'Prints and Pricing', page_path('prints_and_pricing')%>
			</li>
			
			<li class="top-buffer-big">
				<%= link_to "Shopping Cart", shopping_cart_path if session[:shopping_cart_id].present? %>
			</li>
          
        </ul>
      </div>
          
      <!-- Page content -->
      <div id="page-content-wrapper">
        
        <!-- Keep all page content within the page-content inset div! -->
        <div class="page-content inset">
          <div class="row">
            <div class="col-md-12">
             	<%= render 'layouts/admin_nav_bar' if admin_signed_in?%>
				<%= render 'layouts/messages' %>
				
	       		<%= yield %>
            </div>
            
          </div>
        </div>
      </div>
      
    </div>
  	
  	
  	
  	
  	
  	
  	
  	
  	
  	
  	
  	
  	
  	
  	
  	
  	
  	
	
	
	
	
	<div id="spinner" style="display: none">
		<%=  image_tag("loading.gif", :alt => "Loading....", :style => "")%>
	</div>
  </body>
</html>
