<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Beyond The Precipice" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Beyond The Precipice" %>">
    
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
   	
    
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'camera-favicon.ico' %>
    <%= tag :meta, :name => "stripe-key", :content => Rails.configuration.stripe[:publishable_key] %>
    
  </head>
  <body data-controller="<%= controller_name %>" data-action="<%= action_name %>" data-static-page="<%= static_page_name %>">	
  	
  	
  	
  	
  	<div id="background_image_container">
  		<%= set_background_image %>
  	</div>
  	
  	
  	 <div id="wrapper">
      
      <!-- Sidebar -->
      <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
	    	<li class="sidebar-brand">
	          	<%= link_to root_url, class:"" do%>	
					<%= image_tg "Logo12.png"%>
				<%end%>
         	</li>
	         
	         <% Collection.all.each do |collection|%>
				<li>	
					<%= link_to collection.name,  collection %>
				</li>	
			<%end%>	
							  
        	<li class="top-buffer-big">
				<%= link_to "Philosophy", page_path('philosophy')%>
			</li>
			<li>
				<%= link_to "Contact", page_path('contact') %>
			</li>
			<li>
				<%= link_to "Prints and Pricing",  page_path('prints_and_pricing')%>
			</li>
			<li>
				
				<div class="text-info top-buffer" style="line-height: 16px;font-size: smaller">
					<div class="horz-padding">Free ground shipping</div>
					<div class="horz-padding">on all fine art.</div>
		        </div>
			</li>
        </ul>    
      </div>
          
      <!-- Page content -->
      <div id="page-content-wrapper">
        
        <!-- Keep all page content within the page-content inset div! -->
        <div class="page-content inset">
          <div class="row">
            <div class="col-md-12">
             	<%= render 'layouts/admin_nav_bar' if admin_signed_in?%>
				<%= render 'layouts/messages' %>
				<% if session[:shopping_cart_id].present? %>
					<div class="pull-right">
						<span class="glyphicon glyphicon-shopping-cart"></span>
						<%= link_to "Shopping Cart", shopping_cart_path  %>
					</div>
				<%end%>
				
				
				
	       		<%= yield %>
            </div>
            
          </div>
        </div>
      </div>
      
    </div>
  	
  	
  	
  	
  	
  	
  	
  	
  	
  	
  	
  	
  	
  	
  	
  	
  	
  	
	
	
	
	
	<div id="spinner" style="display: none">
		<%=  image_tag("loading.gif", :alt => "Loading....", :style => "")%>
	</div>
  </body>
</html>
