<!DOCTYPE html>
<html>
  	<head>
	    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
	    <title>
	    	<%= content_for?(:title) ? yield(:title) : "Beyond The Precipice - Fine Art Photography" %>
	    </title>
	    
	    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Beyond The Precipice" %>">
	    <script type="text/javascript" src="https://js.stripe.com/v2/"></script> 
	    
	    <%= stylesheet_link_tag "application", media: "all" %>
	    <%= javascript_include_tag "application" %>
	    <%= csrf_meta_tags %>
	    <%= favicon_link_tag 'favicon.ico' %>
	    <%= tag :meta, :name => "stripe-key", :content => Rails.configuration.stripe[:publishable_key] %>
	    
	    <meta property="og:image" content="<%= open_graph_values[:image]%>" /> 
	    <meta property="og:title" content="<%= open_graph_values[:title]%>"/>
	    <meta property="og:url" content="<%= open_graph_values[:url]%>"/>
	    <meta property="og:site_name" content="<%= open_graph_values[:site_name]%>"/>
	    <meta property="og:description" content="<%= open_graph_values[:description]%>"/>
	    <meta property="og:type" content="<%= open_graph_values[:type]%>"/>
	    
	    <meta property="og:image:type" content="<%= open_graph_values[:image_type]%>"/>
		<meta property="og:image:width" content="<%= open_graph_values[:image_width]%>"/>
		<meta property="og:image:height" content="<%= open_graph_values[:image_height]%>"/>
        <script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
		
		  ga('create', 'UA-48350686-1', 'beyondtheprecipice.com');
		  ga('send', 'pageview');
		
		</script>
	
  	</head>
	<body data-controller="<%= controller_name %>" data-action="<%= action_name %>" data-static-page="<%= static_page_name %>">	
   		<div id="fb-root"></div>
		<script>
			window.fbAsyncInit = function() {
		        FB.init({
		          appId      : '1454658354765943',
		          status     : true,
		          xfbml      : true
		        });
		      };
		
		      (function(d, s, id){
		         var js, fjs = d.getElementsByTagName(s)[0];
		         if (d.getElementById(id)) {return;}
		         js = d.createElement(s); js.id = id;
		         js.src = "//connect.facebook.net/en_US/all.js";
		         fjs.parentNode.insertBefore(js, fjs);
		       }(document, 'script', 'facebook-jssdk'));
		</script>
   		
   		<div class="container">
   			<div class="row">
   				<!-- Sidebar -->
   				<div id="sidebar"  class="col-xs-2 fixed">
   					<%= render 'layouts/sidebar_lg'%>
   				</div>
   				<!-- End Sidebar -->
   				
   				<div id="bg-container" class="col-xs-10 col-xs-offset-2">
   					<%= set_background_image %>  	
   				</div>
   				
   				<!-- main -->
   				<div id="main" class="col-xs-10 col-xs-offset-2  ">	
   					<div class="row">
   						<div class="col-xs-11">
   							<%= render 'layouts/admin_nav_bar' if admin_signed_in?%>   							
   							<%= render 'layouts/top_links'%>
   							<%= yield %>
						</div>
   					</div>
   				</div>
   				<!-- End Main -->
   			</div>
   		</div>
  	</body>
</html>
